
*{
	font:Arial;
	font-size:95%;
}

.resultsDiv{
	width:20%;
	float:left;
	height:100%;
}
.scoreboardDiv{
	width:80%;
	float:left;
	height:100%;
}
.newFinisher{
	width:100%;
	height:40px;
}
.timeDisplay{
	width:100%;
	font-size: 40px;
	text-align: center;
}
.finishers{
	height:80%;
	overflow-y:scroll;
}

.hidden{
	display:none;
}

table, th, td{
	border-spacing: 0px;
	border:1px solid black;
}
th{
	background: Steelblue;
	color:white;
}
td{
	padding:3px;
}
table{
	width:100%;
}

table input{
	width:50px;
}
/* Style the tab */
div.tabList {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
    overflow-y:scroll;
}

/* Style the buttons inside the tab */
div.tabList button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 5px 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
div.tabList button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tabList button.active {
    background-color: #ccc;
}

div.tabdivs {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    overflow-y:scroll;
}

tr:nth-child(even){background: GhostWhite;}
tr:nth-child(odd){background:lightSteelBlue;}
tr:hover{background:mediumaquamarine;}